body {
  margin: 0;
}
.container {
  background-color: gray;
  width: 1000px;
  margin: 30px auto;
  height: 1000px;
  display: grid;
  //we want 6 elements to be divided by 2 rows and 3 columns
  //2x3 = 6
  //we want 2 rows so we first define the height of our rows
  grid-template-rows: 150px 1fr;

  //we do the same for columns, we can use repeat if all will be same size
  //grid-template-columns: repeat(2, 150px) 1fr; //fr is fraction. 1fr = 100%
  grid-template-columns: repeat(3, 1fr);
  //grid-row-gap and grid-column-gap have been replaced
  //row-gap: 30px;
  //column-gap: 30px;

  //gap can be used to define both column and row gap
  gap: 30px;
}
.challenge-1 {
  margin: 30px auto;
  background-color: lightblue;
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-rows: 1fr 2fr 4fr 1fr;
  grid-template-columns: repeat(3, 1fr) 2fr;
  gap: 15px;
}

.header {
  grid-row: 1/2;
  grid-column: 1/5;
  background-color: red;
}

.box-1 {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: red;
}
.box-2 {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: red;
}
.box-3 {
  grid-row: 2/3;
  grid-column: 3/4;
  background-color: red;
}
.sidebar {
  grid-row: 2/4;
  grid-column: 4/5;
  background-color: red;
}
.main_content {
  grid-row: 3/4;
  grid-column: 1/4;
  background-color: red;
}
.footer {
  grid-row: 4/-1;
  grid-column: 1/-1;
  background-color: red;
}

.item {
  padding: 20px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;

  &--1 {
    background-color: orangered;
    //this is the same as grid-row-start: 2; and grid-ow-end: 3;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  &--2 {
    background-color: Green;
  }
  &--3 {
    background-color: purple;
  }
  &--4 {
    background-color: pink;
  }
  &--5 {
    background-color: blue;
    grid-row: 1/2;
    grid-column: 3/4;
  }
  &--6 {
    background-color: goldenrod;
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
